<nav class="navbar navbar-dark bg-dark">
  <div class="nav">
    <a class="nav-item nav-link" href="/sports">Sports</a>
    <a class="nav-item nav-link" href="/leagues">Leagues</a>
    <a class="nav-item nav-link" href="/clubs">Clubs</a>
    <a class="nav-item nav-link" href="/carriers">Carriers</a>
    <a class="nav-item nav-link" href="/companies">Companies</a>
    <a class="nav-item nav-link" href="/categories">Categories</a>
    <a class="nav-item nav-link" href="/coverages">Coverages</a>
  </div>
  <div class="nav justify-content-end">
    <a class="nav-item nav-link" href="/metrics">Metrics</a>
    <a class="nav-item nav-link" href="/logout">Logout</a>
  </div>
</nav>
