<h5>Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'hit') %></h5>
<p class="supertiny">&nbsp;</p>

<% unless @clubs.empty? %>
  <p><em><strong>Clubs matching term '<%= @query %>'</strong></em></p>
  <ul>
    <% for club in @clubs do %>
      <li><%= link_to club.name, club_path(club) %></li>
    <% end %>
  </ul>
  <p class="smtext">&nbsp;</p>
<% end %>