/********** TOPBAR & NAV ********/

.topbar {
    border-top: 0px;
    padding: 0px;
    margin-bottom: 0px;
    //height: 100px;
    font-family: 'Arial Black';
    font-style: italic;
    font-size: 65px;;
    color: black;
    text-align: center
  }

  .image-size {
    max-width: 20px;;
    max-height: 20px;;
  }
  
a.nav-link {
  color: white;
  }

@media (min-width: 1200px) {
  .container{
    max-width: 970px;
    padding: 40px;
  }
}

.card-content {
}

.card {
    margin: 20px;
    padding: 20px;
}

/********** FOOTER ********/

#bottom-contents {
  
}

#footer {
  background-color: rgb(29, 25, 25);
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  line-height: 2rem;
}

#footer a {
  color: white;
}

.btn-link:visited {
  color: white;
  text-decoration: None;
}


.btn.btn-link {
  color: white;
  text-decoration: None;
}

.btn.btn-link:hover {
  text-decoration: None;
}

.btn.btn-link:visited {
  text-decoration: None;
}

.btn.btn-link:active {
  color: white;
  text-decoration: None;
}

.btn:active {
  color: white;
  text-decoration: None;
}




.header-fixed {
  width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
  display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.header-fixed > tbody {
  overflow-y: auto;
  height: 320px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
  width: 20%;
  float: left;
  font-size: 14px;
}